html, body{
  width: 100%;
  height: 100dvh;
}
body{
background-size: auto;
background-image:url(kep/202304211050201709793104_IMG_6706.jpg);
backdrop-filter: blur(5px);
margin: 0;
padding: 0px;
padding-left: 0px;
padding-bottom: 0px;
padding-top: 0px;
padding-right: 0px;
background-repeat: repeat-y no-repeat;

}
.logo150{
    text-align: center; 
    background-color: rgb(21, 21, 150);
    height: 150px;

}

.wrapper {
  perspective: 20px;
}

.logo {
  width: 140px;
  animation: spin 4s linear infinite;
  perspective: 10px;
}

.logo150 ul{
  position: absolute;
  width: 100%;
  height: 0px;
  display: flex;
  flex-direction: row;
  color: white;
  padding-top: 20px;
  
}

.logo150 li{
  width:16%;
  text-align: left;
  font-size: 22px;

}
@keyframes spin {
  from { transform: rotateY(0deg); }
  to   { transform: rotateY(360deg); }
}