body{
background-size: 100%;
background-image:url(kep/202304211050201709793104_IMG_6706.jpg);
backdrop-filter: blur(5px);
margin: 0;

}
.logo150{
    text-align: center; 

}

.wrapper {
  perspective: 800px;
}

.logo {
  width: 200px;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from { transform: rotateY(0deg); }
  to   { transform: rotateY(360deg); }
}